@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Cagliostro);

body {
	background-image:url("../img/background.png");
	
	background-repeat:repeat;	
	/*background-color:#DEDBCC;*/
	/*background-color:rgba(253, 211, 105, 255);*/
	font-family: 'Cagliostro', sans-serif;
	font-size:12px;
	text-align:justify;
	padding-left:1em;
	padding-right:1em;
}
#logo {
	padding-top:.5em;	
}
ul.nav {
	font-size:1.2em;
}
.fb {
	background:none;
	max-height:100px;
	overflow:hidden;
}
#front-page-content-row {
	color:#FFFFFF;
	background-color:#550044;
	border-radius:5px;
	border:thick solid #7A697E;
	font-size:1.5em;
	line-height:1em;
	margin-bottom:1em;
	max-width:99%;
}
.main_content_cols {
	padding:.5em;

}
.pruple-small {
	color:#550044;
}
.image-menu {
	border-radius:5px;
	border:thick solid #550044;
}
.footer {
	text-align:center;
}
.footer-link {
	color:#000000;
	font-family:Verdana, Geneva, sans-serif;
}
.footer-link:hover {
	text-decoration:none;
	font-weight:500;
	color:#000000;
}
.footer-link:visited {
	color:#000000;
}
/*about page */
.about-link {
    color:#550044;
}
.about-link:hover {
    text-decoration:none;
   
    color:#550044;
}
.about-link:visited {
    color:#550044;
}
.about-header {
	color:#FFFFFF;
	text-align:center;
}	
.small-header {
	color:#550044;	
}
.contact-block {
	text-align:center;
	pading-top:.5em;
	color:#FFFFFF;
	border-radius:5px;
	border:thick solid #550044;
	padding-bottom:.5em;
}
.small-text {
	color:#550044;	
}
.contact-block-logo {
	margin-top:0px;
}
.content-box {
	color:#FFFFFF;
	background-color:#550044;
	border-radius:5px;
	border:thick solid #7A697E;
	font-size:18px;
	padding:.5em;
	margin-bottom:1em;
}
.content-link {
	color:#CDC9E8;
}
.content-link:hover {
	text-decoration:none;
	font-weight:500;
	color:#CDC9E8;
}
.content-link:visited {
	color:#CDC9E8;
}
.contact-block-hr {
	background:#550044;
	color:#550044;
	height:2px;
	border:0px;
	margin-top:0px;
	pading-top:0px;
}
.content-image {
	border-radius:5px;
	border:thick solid #FFFFFF;
	margin:.5em;
}
/*packages*/
.p-header {
	text-align:center;
	color:#FFFFFF;
	font-size:18px;
}
/*corporate events*/
.slider-image {
	text-align:center;
	color:#FFFFFF;
	border-radius:5px;
	border:thick solid #550044;
	padding:0px;
	max-height:30em;
	margin-bottom:1em;
	overflow:hidden;
}

.carousel-inner {
	padding:0px;
	max-height:30em;
}
.carousle-inner >.item {
	max-height:30em;
}
.slide_image {
	height:100%
	max-height:30em;
	overflow:hidden;
}
#corporate-content {
	font-size:1.6em;
	line-height:1em;
}

/*Social events*/
#event-image {
	max-width:45%;
	margin-bottom:10px;
}
/*contact page*/
#contact-page-block {
	font-size:1.8em;
	line-height:1em;
	text-align:center;
	padding:.5em;
	color:#550044;
	background-color:#CDC9E8;
}
.contact-form {
	font-size:1.3em;
	color:#FFFFF;
	border-radius:5px;
	border:thick solid #550044;
	margin-bottom:1em;
	padding-right:1em;
	background-color:#CDC9E8;

}
.control-group {
	color:#FFFFFF;
	margin-left:.5em;
}
.form-actions {
	background-image:none;
	background:none;
	text-align:center;
}
.contact-ul {
	list-style:none;
}
.header-comments {
	color:#7A697E;
	text-align:left;
}
.comments-header {
	color:#FFFFFF;
	font-weight:bold;
}
input[type=text] { width: 100%; box-sizing: border-box; height: 28px; }
textarea[type=text] { width: 80%; box-sizing: border-box; height: 56px; }
.fblike {
	margin-right:2em;
	margin-left:2em;
}
