@charset "utf-8";
/* CSS Document */
body {
	background-image:url(../img/back.png);	
}
#logo {
	height:125px;
	width:225px;
}
.navbar-inner {
	background-color:#422771 !important;
}
#main_content_cols_first {
	font-size:15px;
	margin-left:5px;	
	margin-right:20px;
	padding-right:10px;
	text-align:justify;
}
#main_content_cols {
	font-size:15px;	
	margin-right:10px;
	padding-right:10px;
	margin-left:0px;
	text-align:justify;
}
#main_content_cols_last {
	font-size:15px;	
	margin-right:0px;
	padding-right:0px;
	margin-left:0px;
	padding-left:5px;
	text-align:justify;
}